@model List<Entities.Concrete.Product>
@{
    ViewBag.Title = "ListProductByCategory";
    Layout = "~/Views/Shared/_LayoutMarket.cshtml";
}

<section class="products">

    <h1 class="title">  <span>Ürünlerimiz</span> </h1>

    <div class="box-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <div class="icons">
                    <a href="@Url.Action("AddToCart", "Cart", new { productId  = item.Id })" class="fas fa-shopping-cart"></a>

                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="@item.Picture" alt="">
                </div>
                <div class="content">
                    <h3>@item.Name</h3>
                    <div class="price">@item.Price</div>
                </div>
            </div> <!-- Bu div kapanmamıştı, şimdi kapandı. -->
        }
    </div> <!-- box-container div'inin kapanışı. -->
</section>
